#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.app_main{
  display: flex;
  justify-content: space-between;
  /* padding: 20px 8%; */
  margin-top: 20px;
}
.task_column{
  width: 33.33%;
 margin: 10px;
}